
    <form id="addgroup-form" class="form-addgroup">
        <h2 class="form-addgroup-heading">Create Group</h2>
        <label for="groupname" class="sr-only">Group Name</label>
        <input type="groupname" id="addgroup-groupname-input" class="form-control" placeholder="Group Name" required autofocus>
        <label for="inputSquestion" class="sr-only">Temporary Secret Question?</label>
        <input type="squestion" id="addgroup-squestion-input" class="form-control" placeholder="Temporary Secret Question?" required>
        <label for="inputSanswer" class="sr-only">Secret Answer</label>
        <input type="sanswer" id="addgroup-sanswer-input" class="form-control" placeholder="Secret Answer" required>
        <button class="btn btn-lg btn-primary btn-block" id="addgroup-btn" type="submit">Create Group</button>
    </form>
