node_modules
npm-debug.log*
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
coverage
.tmp
.sass-cache
bower_components
test-reports.xml
ionic/platforms
ionic/plugins
.bower-cache
.bower-registry
.bower-tmp