<!DOCTYPE HTML>
<html lang="en">
  <head>
      <title>My App</title>
      <link rel="stylesheet" type="text/css" href="css/myapp.css">
      <meta name="csrf-token" content="{{csrf}}">
  </head>
  <body>
    <div id="page">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
