<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proxy Shift | Enterprise Shift Coverage</title>
    <meta name="description" content="We're finding better ways for employees, schedulers, and managers to manage schedules. Contact us to get the app for your company and get shifts covered with one button.">
    <meta name="keywords" content="Schedule, Scheduling, scheduler, Shift, Shifts, HR, eneterprise shift management system, manager, Management, coverage, callout, call out, call-out, open shifts ">
    <meta name="author" content="www.Proxyshift.com">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="site/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="site/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="site/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="site/img/apple-touch-icon-114x114.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="site/js/ltie9.min.js"></script>
    <![endif]-->

    <!-- Stylesheet + Bootstrap
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="site/css/style.css">

    <noscript>
        <style>
            #tf-menu {
                background-color: #222222 !important;
                padding: 0 !important;
            }
            .noscript-hide {
                display: none;
            }
            .noscript-header ul {
                border-width: 0;
                margin: 0;
                margin-right: -15;
                padding: 0;
            }
            .noscript-header li {
                float: left;
            }
            .noscript-header li a {
                text-transform: uppercase;
                color: #FFF;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 20px;
            }
        </style>
    </noscript>

</head>
<body>
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top on">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed noscript-hide" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <noscript class="noscript-header">
                <ul class="nav navbar-toggle">
                    <li><a href="#tf-home" class="page-scroll">Home</a></li>
                    <li><a href="#tf-services" class="page-scroll">Services</a></li>
                    <li><a href="#tf-testimonials" class="page-scroll">Features</a></li>
                    <li><a href="#tf-about" class="page-scroll">Facts</a></li>
                    <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
                    <li><a href="/mobile">LOGIN</a></li>
                </ul>
            </noscript>
            <a class="navbar-brand" href="index.html">Proxy / Shift</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#tf-home" class="page-scroll">Home</a></li>
                <li><a href="/#tf-services" class="page-scroll">Services</a></li>
                <li><a href="#tf-testimonials" class="page-scroll">Features</a></li>
                <li><a href="/#tf-about" class="page-scroll">Facts</a></li>
                <li><a href="/#tf-contact" class="page-scroll">Contact</a></li>
                <li><a href="/mobile">LOGIN</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="page" class="container push-footer">
    {{{body}}}
</div>

<nav class="absolute-footer" id="footer">

    <div class="container">
        <div class="pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a>&#169; 2016 Proxy Shift</a>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/privacy-policy.html">Privacy Policy</a>
                </li>
                <li>
                    <a href="/terms-of-service.html">Terms of service</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript" src="site/js/mainlibs.min.js"></script>

</body>
</html>
