<form id="login-form" class="form" data-validate="parsley">
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <input type="text" id="login-username-input" name="username" placeholder="Username" value="username"
                       data-required="true" data-notblank="true">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="control-group mb20">
            <div class="controls">
                <input class="input-medium" type="password" id="login-password-input" placeholder="Password" name="password"
                       value="" data-required="true" data-notblank="true" data-rangelength="[5,25]">
                <span class="help-block"></span>
            </div>
        </div>
        <a href="#login" id="login-btn" class="btn btn-primary btn-lg" data-bypass>Login</a>

    </fieldset>
</form>