<div id="header" class="navbar navbar-default navbar-static-top">
    <h1>Shifts</h1>
    <a href="#">Shift List</a> | <a href="#add">New Shift</a> | <a href="#calendar">Calendar</a> |
</div>
<div id="loginStatus"></div>
<br/>
<div id="content"></div>
<div id="footer"></div>
