<div class="add_user">
    <label for="username">Username:</label> <input type="text" id="username" /><br/>
    <label for="password">Password:</label> <input type="password" id="password" /><br/>
    <label for="name">Name:</label> <input type="text" id="name" /><br/>
    <label for="email">Email:</label> <input type="text" id="email" /><br/>
    <label for="squestion">Secret Question:</label> <input type="text" id="squestion" /><br/>
    <label for="sanswer">Secret Answer:</label> <input type="text" id="sanswer" /><br/>
    <br/>
    <a href="#" class="save-button">Save Shift</a> | <a href="#"><< Back</a>
</div>
