
    <form id="login-form" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="username" id="login-username-input" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="login-password-input" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="login-btn" type="submit">Sign in</button>
    </form>
