<div class="add_shift">
    <label for="title">Title:</label> <input type="text" id="title" /><br/>
    <label for="start">Start:</label> <input type="text" id="start" /><br/>
    <label for="end">End:</label> <input type="text" id="end" /><br/>
    <br/>
    <a href="#" class="save-button">Save Shift</a> | <a href="#"><< Back</a>
</div>
