<div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
        <div class="section-title center">
            <h2>{{_ 'invites.join.expired.headline' group.name }}</h2>
            <h4>{{_ 'invites.join.expired.details' inviter.firstname }}</h4>
        </div>
    </div>
</div>
