<p id="notice"><%= notice %></p>

<center>
  <font face="Arial"><b>You will be redirected in
    <span id="redirect"></span>
    seconds.</b></font>
</center>

<%= javascript_include_tag('redirect.js') %>