<div>
    {{#if tree}}
        {{#each tree}}
             {{>recurse}}
        {{/each}}
    {{else}}
        {{#if loading}}
            Loading
        {{else}}
            There are no categories defined yet <button type="button" class="btn btn-default" style="display:inline-block;" aria-label="Left Align" on-click="newCategory">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        {{/if}}
    {{/if}}
    {{#if modified}}
    <div class="row text-right">
        <button type="button" class="btn btn-default" on-click="save">Save</button>
    </div>
    {{/if}}
</div>
<!-- {{>recurse}} -->
<div class="media">
    <div class="media-left">-</div>
    <div class="media-body">
        <div class="input-group" style="width: 100%">
                <input type="text" class="form-control" id="category_{{id}}" placeholder="{{name}}" on-blur="updateCategory:{{id}}">
                <span class="input-group-btn" style="overflow: hidden;">
                    <button type="button" class="btn btn-default" aria-label="Left Align" on-click="delCategory:{{id}}">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Left Align" on-click="newCategory:{{id}}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
        </div>
        {{#if children}}
            {{#each .children}}
                {{>recurse}}
            {{/each}}
        {{/if}}
    </div>
</div>
<!-- {{/recurse}} -->