<div>
    {{#if tree}}
        {{#each tree}}
             {{>recurse}}
        {{/each}}
    {{else}}
        {{#if loading}}
            Loading
        {{else}}
            There are no categories defined yet <button type="button" class="btn btn-default" style="display:inline-block;" aria-label="Left Align" on-click="newCategory">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        {{/if}}
    {{/if}}
    {{#if modified}}
    <div class="media">
        <div class="media-body text-right">
            <button type="button" class="btn btn-default {{#saving}}disabled{{/if}}" on-click="save">{{#saving}}Saving..{{else}}Save{{/if}}</button>
        </div>
    </div>
    {{/if}}
    {{#if fetching}}
    FETCHING...
    {{/if}}
</div>
<!-- {{>recurse}} -->
<div class="media">
    <div class="media-left">
        <span class="glyphicon glyphicon-minus" style="vertical-align: middle;"></span>
    </div>
    <div class="media-body">
        <div class="input-group" style="width: 100%">
            <input type="text" class="form-control" id="category_{{id}}" placeholder="{{name}}" on-blur="updateCategory:{{id}}" {{#if isDisabled(id)}}disabled{{/if}}>
            {{#if deleting}}
            <span class="input-group-btn" style="overflow: hidden;">
                <button type="button" class="btn btn-default" aria-label="Left Align" on-click="undelete:{{id}}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </span>
            {{else}}
                {{#if isDisabled(id)}}
                {{else}}
                <span class="input-group-btn" style="overflow: hidden;">
                    <button type="button" class="btn btn-default" aria-label="Left Align" on-click="delCategory:{{id}}">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Left Align" on-click="newCategory:{{id}}" {{#if disabled}}disabled{{/if}}>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
                {{/if}}
            {{/if}}
        </div>
        {{#if children}}
            {{#each .children:i}}
                {{>recurse}}
            {{/each}}
        {{/if}}
    </div>
</div>
<!-- {{/recurse}} -->