<div style="overflow:auto;">
{{#each tree}}
  {{>recurse}}
{{/each}}
</div>
<!-- {{>recurse}} -->
<div>
    <div style='display:inline-block; width: {{width(depth, 10)}}%; background-color: red;'>&nbsp;</div>
    <div style="display:inline-block;">
        <div style="display:inline-block;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{name}}">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" style="display:inline-block;" aria-label="Left Align">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" style="display:inline-block;" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

</div><br>
<!-- Name: {{name}}<br>
Depth: {{depth}}<br> -->
{{#if children}}
<!-- Children: {{children}}<br> -->
  {{#each .children}}
    {{>recurse}}
  {{/each}}
{{/if}}

<!-- {{/recurse}} -->