
<!-- Home Page
==========================================-->
<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1>Welcome to <strong><span class="color">Proxy Shift</span></strong></h1>
            <p class="lead"><br>Stress-free shift coverage for the enterprise <br><br> No more emails, texts, faxes, phone calls, or voicemails </p>
            <a href="#tf-services" style="margin-top: 100px" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>

<!-- Services Section
==========================================-->
<div id="tf-services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2><strong>How Proxy Shift Works</strong></h2>
            <div class="line">
                <hr>
            </div>
        </div>

        <div class="section-title center">
            <h4>Features for <strong>employees</strong></h4>

            <div class="space"></div>
            <div class="row">

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-mobile"></i>
                    <h4><strong>Shift Availability</strong></h4>
                    <p>Calls outs made easy. Tap request to instantly notify every qualified employee in your area.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-star"></i>
                    <h4><strong>Subscribe</strong></h4>
                    <p> Get shift availability notifications from nearby workplaces.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-calendar-o"></i>
                    <h4><strong>Calendar View</strong></h4>
                    <p>See upcoming open shifts and shifts you are covering.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-refresh"></i>
                    <h4><strong>Shift Swap</strong></h4>
                    <p>Easily trade shifts with a co-worker.</p>
                </div>
            </div>

            <div class="space"></div>
            <div class="row">

                <div class="section-title center">
                    <h4>Features for <strong>schedulers and managers</strong></h4>
                    <div class="space"></div>

                    <div class="col-md-3 col-sm-6 service">
                        <i class="fa fa-bar-chart"></i>
                        <h4><strong>Maximize efficiency</strong></h4>
                        <p>Save time. Never scramble to send another phone call, email, text, or fax to fill a shift.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 service">
                        <i class="fa fa-university"></i>
                        <h4><strong>Enterprise </strong></h4>
                        <p>We offer services and security catered to address the specific needs of enterprise users. Contact us to find out more.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 service">
                        <i class="fa fa-group"></i>
                        <h4><strong>Staff Management Analytics</strong></h4>
                        <p>Detailed shift coverage analytics enables managers to make well-informed staffing decisions.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 service">
                        <i class="fa fa-sitemap"></i>
                        <h4><strong>Deployment</strong></h4>
                        <p> Efficient implementation with on-site employee training and a dedicated developer for technical assistance anytime of the day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- App Features
    ==========================================-->
<div id="tf-testimonials" class="text-center">
	<div style="background: teal">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text" >
                        <div class="section-title">

                            <div class="clearfix"></div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/02.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <h1> Shift management with the push of a button </h1>
                        <p class="intro"> Proxy Shift is the most efficient shift management system. One button and you can call out or fill a shift. Your manager is automatically notified and you're all set. It's that simple.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div id="" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <h1> Automated Scheduler 24/7 </h1>
                    <p class="intro"> Instant push notifications of available shifts and automatic shift approvals. Managers save time and money.
                        <br>
                        <br>
                        Notifications will reach every qualified employee that works for your company in and around your area, maximizing  your shift coverage rate. Never go without help again.</p>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <div class="about-text" >
                    <div class="section-title">

                        <div class="clearfix"></div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="img/03.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div id="tf-testimonials" class="text-center">
    <div style="background: teal">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text" >
                        <div class="section-title">

                            <div class="clearfix"></div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/06.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <h1> Always Prepared </h1>
                        <p class="intro"> With Proxy Shift your company is equipped to respond to any unexpected change in personnel coverage or dramatic workload changes.
                            <br>
                            <br>
                            Calendar view shows upcoming open shifts in real time ensuring consistent communication throughout your company. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Facts Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text" >
                        <div class="section-title">
                            <h1> <strong>Scheduling</strong> Facts</h1>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                      <h2> Retail & Health Care</h2>
                        <ul class="about-list" >
                             <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Understaffing occurs 32.88% of the time<sup>1</sup></strong> - <em>Results from a study of 41 large retail stores showed understaffing occurred at all stores primarily during a 3 hour window that consisted of 60% of total daily customer traffic - having a significant affect on sales and customer satisfaction. Understaffing dduring this peak period was also observed  at another retailer as well in the same study.</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Overstaffing occurs 52.85% of the time<sup>1</sup></strong>
                            </li>
                             <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Health Care -  Absence Rate: 3.6%  | Lost Work Time: 2.0% <sup>2</sup></strong>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Retail - Absence Rate: 2.9%  | Lost Work Time: 1.5%<sup>2</sup></strong> - <em>Retail & Health Care rank amongst the highest industries for both absence rate & lost work time per employee per year. </em>
                            </li>
                        </ul>

                         <h6>

                         <strong><a href="http://onlinelibrary.wiley.com/doi/10.1111/poms.12237/abstract"><sup>1</sup> “Estimating the impact of understaffing on sales and profitability in retail stores” Mani et al. 2015.</a></strong>
                         <br>

                         <strong><a href="http://www.bls.gov/cps/cpsaat47.htm"> <sup>2</sup> U.S. Bureau of Labor Statistics 2015</a></strong>
               			 <br>

                         <strong><a href="http://www.workforceinstitute.org/wp-content/themes/revolution/docs/Absenteeism-Bottom-Line.pdf"> <sup>3</sup> Circadian Shiftwork Practices Study</a></strong>
                         <br>

                         <strong><a href="https://primis.phmsa.dot.gov/crm/docs/Miller2010_Shift_and_Night_Work_unpub.pdf"> <sup>4</sup> Miller Ergonomics</a></strong>
                         <br>

                         <strong><a href="http://www.hbs.edu/faculty/Pages/item.aspx?num=9149"> <sup>5</sup> "Putting the Service-Profit Chain to Work" Heskett et al.</a></strong>

                         </h6>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h1><strong>Cost</strong> of inefficient Scheduling</h1>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                      <h2> Direct Costs</h2>
                        <ul class="about-list" >
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Understaffing causes 6.33% in lost sales</strong><sup>1</sup> - <em> Optimal staffing during this peak period would increase profitability by <strong>5.74%</strong>. The researchers concluded these results give compelling evidence that understaffing has significantly more impact on sales versus overstaffing. They also state their results around understaffing are conservative. </em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Overstaffing decreases profitability by 2.0%</strong><sup>1</sup>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Understaffing costs stores $240,000/year or 2.5% of annual sales<sup>1</sup></strong> - <em> Results from observing 4 stores at a large retail chain with over $1 billion in revenue and consisting of over 100 stores in North America. One senior manager commented that: <br> “ We always knew our stores were understaffed at some times and overstaffed during others. Culturally we have tended to nod at this issue but this analysis shows how we have undervalued the impact of understaffing on financial performance.”</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>$18 Million<sup>3</sup> </strong> - <em> The estimated cost of absenteeism for a company consisting of 5,000 employees making an average of 19/hr with a 9% absence rate according to a Circadian Shiftworks Practices study.</em>
                            </li>
                        </ul>


                        <h2> Indirect Costs <sup>3,4,5</sup></h2>
                        <ul class="about-list" >
                            <li>
                                <span class="fa fa-dot-circle-o"></span> Higher employee turnover &nbsp;<span class="fa fa-dot-circle-o"></span>Poor quality of service
                                <br>
                                <span class="fa fa-dot-circle-o"></span> Decreased customer satisfaction & loyalty resulting in decreased conversion rates and a loss of life-time value<br><span class="fa fa-dot-circle-o"></span> Lower productivity &nbsp; <span class="fa fa-dot-circle-o"></span>Excess manager time
                                <br>
                                <span class="fa fa-dot-circle-o"></span> Decreased safety &nbsp;<span class="fa fa-dot-circle-o"></span> Poor employee morale
                                <br>
                                <span class="fa fa-dot-circle-o"></span> Decrease in overall employee health & satisfaction</h4></em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Contact Section
==========================================-->
<div id="tf-contact" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title center">
                    <h2><strong>contact us</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="section-title center">
                    <h4>Learn how we can boost staffing efficiency and maximize revenue retention.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="/contactus" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from">Email address</label>
                                <input type="email" class="form-control" name="from" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="Name" class="form-control" name="name" placeholder="Your Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="3" name="message"></textarea>
                    </div>

                    <button type="submit" class="btn tf-btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
