
<!-- Home Page
==========================================-->
<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1>Welcome to <strong><span class="color">Proxy Shift</span></strong></h1>
            <p class="lead"><br>Stress-free shift coverage for the enterprise <br><br> No more emails, texts, faxes, phone calls, or voicemails </p>
            <a href="#tf-services" style="margin-top: 100px" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>

<!-- Services Section
==========================================-->
<div id="tf-services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>What is <strong>Proxy Shift?</strong></h2>
            <div class="line">
                <hr>
            </div>
        </div>

        <div class="section-title center">
            <h4>Features for <strong>employees</strong></h4>

            <div class="space"></div>
            <div class="row">

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-mobile"></i>
                    <h4><strong>Shift Availability</strong></h4>
                    <p>Calls outs made easy. Tap request to instantly notify every qualified employee in your area.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-star"></i>
                    <h4><strong>Subscribe</strong></h4>
                    <p> Get shift availability notifications from nearby workplaces.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-calendar-o"></i>
                    <h4><strong>Calendar View</strong></h4>
                    <p>See upcoming open shifts and shifts you are covering.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-refresh"></i>
                    <h4><strong>Shift Swap</strong></h4>
                    <p>Easily trade shifts with a co-worker.</p>
                </div>
            </div>

            <div class="space"></div>
            <div class="row">

                <div class="section-title center">
                    <h4>Features for <strong>schedulers and managers</strong></h4>
                    <div class="space"></div>

                    <div class="col-md-3 col-sm-6 service">
                        <i class="fa fa-bar-chart"></i>
                        <h4><strong>Maximize efficiency</strong></h4>
                        <p>Save time. Never scramble to send another phone call, email, text, or fax to fill a shift.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 service">
                        <i class="fa fa-university"></i>
                        <h4><strong>Enterprise </strong></h4>
                        <p>We offer services and security catered to address the specific needs of enterprise users. Contact us to find out more.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 service">
                        <i class="fa fa-group"></i>
                        <h4><strong>Staff Management Analytics</strong></h4>
                        <p>Detailed shift coverage analytics enables managers to make well-informed staffing decisions.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 service">
                        <i class="fa fa-sitemap"></i>
                        <h4><strong>Deployment</strong></h4>
                        <p> Efficient implementation with on-site employee training and a dedicated developer for technical assistance anytime of the day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials Section
==========================================-->
<div id="tf-testimonials" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>Why shift coverage <strong>matters</strong></h2>
                <div class="line">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testimonial" class="owl-carousel owl-theme">
                        <div class="item">
                            <h4>Retail & Healthcare industries rank amongst the highest for both absence rate & lost work time. <br><br><strong>Retail:</strong> Absence Rate: 2.9%  | Lost Work Time: 1.5%<br><br><strong>HealthCare:</strong> Absence Rate: 3.6%  | Lost Work Time: 2.0%</h4>
                            <p><strong><a href="http://www.bls.gov/cps/cpsaat47.htm">U.S. Bureau of Labor Statistics 2015</a></strong></p>
                        </div>

                        <div class="item">
                            <h4><strong> $18 Million per year</strong><br><br> That's the direct cost of absenteeism for a company consisting of 5,000 employees earning an average of $19/hr. <br><br>This excludes indirect costs.</h4>
                            <p><strong><a href="http://www.workforceinstitute.org/wp-content/themes/revolution/docs/Absenteeism-Bottom-Line.pdf">Circadian Shiftwork Practices Study </a></strong></p>
                        </div>

                        <div class="item">
                            <h4><strong>Indirect costs of poor shift coverage</strong><br><br>Higher turnover &nbsp;<span class="fa fa-dot-circle-o"></span> &nbsp; Poor quality of service &nbsp;<span class="fa fa-dot-circle-o"></span>&nbsp; Decreased customer satisfaction & loyalty<br><br>&nbsp;  Lower productivity&nbsp; <span class="fa fa-dot-circle-o"></span>&nbsp; Excess manager time &nbsp;<span class="fa fa-dot-circle-o"></span> &nbsp; Decreased safety &nbsp;<span class="fa fa-dot-circle-o"></span>&nbsp;  Poor Morale &nbsp;<span class="fa fa-dot-circle-o"></span>&nbsp;  Decrease in overall employee health & satisfaction</h4>
                            <p><strong><a href="https://primis.phmsa.dot.gov/crm/docs/Miller2010_Shift_and_Night_Work_unpub.pdf">Miller Ergonomics</a></strong></p>
                            <p><strong><a href="http://www.workforceinstitute.org/wp-content/themes/revolution/docs/Absenteeism-Bottom-Line.pdf">Circadian Shiftwork Practices Study </a></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Section
==========================================-->
<div id="tf-contact" class="text-center">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title center">
                    <h1>Learn how we can prevent understaffing and minimize revenue loss.</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title center">
                    <h2><strong>contact us</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <form action="/contactus" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from">Email address</label>
                                <input type="email" class="form-control" name="from" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="Name" class="form-control" name="name" placeholder="Your Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="3" name="message"></textarea>
                    </div>

                    <button type="submit" class="btn tf-btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
