							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- end of full text --><!-- Start of seperator -->

<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="seperator" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
				<tbody>
					<tr>
						<td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#d1d1d1" height="1" style="font-size:1px; line-height:1px;" width="550">&nbsp;</td>
					</tr>
					<tr>
						<td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- End of seperator --><!-- Start of Postfooter -->

<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="postfooter" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
				<tbody>
					<tr>
						<td width="100%">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth" width="600">
							<tbody>
								<tr>
									<td align="center" st-content="postfooter" style="font-family: Helvetica, arial, sans-serif; font-size: 14px;color: #666666" valign="middle"><a href="mailto:support@proxyshift.com" style="text-decoration: none; color: #0a8cce">Contact Us</a> | <a href="https://www.proxyshift.com/unsubscribe" style="text-decoration: none; color: #0a8cce">Unsubscribe to all Emails</a><br />
									&copy;Proxy Shift. All rights reserved.</td>
								</tr>
								<!-- Spacing -->
								<tr>
									<td height="20" width="100%">&nbsp;</td>
								</tr>
								<!-- Spacing -->
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- End of postfooter --></body>
</html>

